@charset "utf-8";
body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    /*outline: none;*/
    z-index: 0;
}

#deviceready{
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    /*background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/coocaaAct/618iqiyi.png");*/
}
#logout{
    width: 652px;
    height: 100px;
    background: #ffffff;
    position: absolute;
    top: 748px;
    left: 60px;
    line-height: 100px;
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    color: #4a4a4a
}
#userName{
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    top: 456px;
    left: 0px;
    width: 772px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#userImg{
    width: 192px;
    height: 192px;
    border-radius: 96px;
    border: 3px solid white;
    position: absolute;
    top: 238px;
    left: 290px;
    overflow: hidden;
}
#avatar{
    width: 192px;
    height: 192px;
}

